.key__seven {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.key__eight {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.key__nine {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.key__four {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.key__five {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.key__six {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.key__one {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.key__two {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.key__three {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.key__decimal {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.key__zero {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.key__equal {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}

.key__divide {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.key__multiply {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.key__subtract {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.key__add {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}