.key__seven {
  grid-column: 1 / 2;
  grid-row: 1 / 2; }

.key__eight {
  grid-column: 2 / 3;
  grid-row: 1 / 2; }

.key__nine {
  grid-column: 3 / 4;
  grid-row: 1 / 2; }

.key__four {
  grid-column: 1 / 2;
  grid-row: 2 / 3; }

.key__five {
  grid-column: 2 / 3;
  grid-row: 2 / 3; }

.key__six {
  grid-column: 3 / 4;
  grid-row: 2 / 3; }

.key__one {
  grid-column: 1 / 2;
  grid-row: 3 / 4; }

.key__two {
  grid-column: 2 / 3;
  grid-row: 3 / 4; }

.key__three {
  grid-column: 3 / 4;
  grid-row: 3 / 4; }

.key__decimal {
  grid-column: 1 / 2;
  grid-row: 4 / 5; }

.key__zero {
  grid-column: 2 / 3;
  grid-row: 4 / 5; }

.key__equal {
  grid-column: 3 / 4;
  grid-row: 4 / 5; }

.key__divide {
  grid-column: 1 / 2;
  grid-row: 1 / 2; }

.key__multiply {
  grid-column: 1 / 2;
  grid-row: 2 / 3; }

.key__subtract {
  grid-column: 1 / 2;
  grid-row: 3 / 4; }

.key__add {
  grid-column: 1 / 2;
  grid-row: 4 / 5; }

#container {
  position: absolute;
  display: grid;
  left: 35%;
  width: 30%;
  height: 600px; }

.calculator {
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(7, auto); }

#display {
  grid-column: 1 / 5;
  grid-row: 1 / 3;
  background-color: whitesmoke; }

.key {
  display: flex;
  align-items: center;
  justify-content: center; }

.key {
  font-family: 'Encoded Sans Expanded', sans-serif;
  font-size: 2em;
  line-height: 50%; }

.clear-key {
  grid-column: 1 / 5;
  grid-row: 3 / 4;
  background-color: orange;
  color: #282828; }

#keypad {
  display: grid;
  grid-column: 1 / 5;
  grid-row: 4 / 8;
  color: white; }
  #keypad #keypad__left {
    display: grid;
    grid-column: 1 / 4;
    grid-row: 1 / 5;
    background-color: #282828; }
  #keypad #keypad_right {
    display: grid;
    grid-column: 4 / 5;
    grid-row: 1 / 5;
    background-color: gray; }
