.delete-key {
  grid-column: 1 / 5;
  grid-row: 3 / 4;
  background-color: orange; }

.keypad__seven {
  grid-column: 1 / 2;
  grid-row: 4 / 5; }

.keypad__eight {
  grid-column: 2 / 3;
  grid-row: 4 / 5; }

.keypad__nine {
  grid-column: 3 / 4;
  grid-row: 4 / 5; }

.keypad__four {
  grid-column: 1 / 2;
  grid-row: 5 / 6; }

.keypad__five {
  grid-column: 2 / 3;
  grid-row: 5 / 6; }

.keypad__six {
  grid-column: 3 / 4;
  grid-row: 5 / 6; }

.keypad__one {
  grid-column: 1 / 2;
  grid-row: 6 / 7; }

.keypad__two {
  grid-column: 2 / 3;
  grid-row: 6 / 7; }

.keypad__three {
  grid-column: 3 / 4;
  grid-row: 6 / 7; }

.keypad__decimal {
  grid-column: 1 / 2;
  grid-row: 7 / 8; }

.keypad__zero {
  grid-column: 2 / 3;
  grid-row: 7 / 8; }

.keypad__equal {
  grid-column: 3 / 4;
  grid-row: 7 / 8; }

.keypad__divide {
  grid-column: 4 / 5;
  grid-row: 4 / 5; }

.keypad__multiply {
  grid-column: 4 / 5;
  grid-row: 5 / 6; }

.keypad__subtract {
  grid-column: 4 / 5;
  grid-row: 6 / 7; }

.keypad__add {
  grid-column: 4 / 5;
  grid-row: 7 / 8; }

#container {
  position: absolute;
  display: grid;
  left: 33%;
  width: 34%;
  height: 600px; }

.calculator {
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(7, auto); }

.display {
  grid-column: 1 / 5;
  grid-row: 1 / 3;
  background-color: gray; }

.delete-key, .keypad__seven, .keypad__eight, .keypad__nine, .keypad__four, .keypad__five, .keypad__six, .keypad__one, .keypad__two, .keypad__three, .keypad__decimal, .keypad__zero, .keypad__equal, .keypad__divide, .keypad__multiply, .keypad__subtract, .keypad__add {
  display: flex;
  align-items: center;
  justify-content: center; }

.keypad {
  grid-column: 1 / 5;
  grid-row: 4 / 8; }
