<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' href='../assets/stylesheets/main.css'>
    <title>JS Calculator</title>
  </head>
  <body>
    <div id='container' class='calculator'>
      <div class='display'>
      </div>

      <div class='delete-key'>
        <span>DELETE</span>
      </div>
      
      <div class='keypad__one'>1</div>
      <div class='keypad__two'>2</div>
      <div class='keypad__three'>3</div>
      <div class='keypad__four'>4</div>
      <div class='keypad__five'>5</div>
      <div class='keypad__six'>6</div>
      <div class='keypad__seven'>7</div>
      <div class='keypad__eight'>8</div>
      <div class='keypad__nine'>9</div>
      <div class='keypad__zero'>0</div>
      <div class='keypad__decimal'>.</div>
      <div class='keypad__equal'>=</div> 
      <div class='keypad__divide'>/</div>
      <div class='keypad__multiply'>x</div>
      <div class='keypad__subtract'>-</div>
      <div class='keypad__add'>+</div>
    </div>
  </body>
</html> 